{{/*
Environment resources - rendered at root level (when renderLayer is empty)
Creates:
  1. AppProject for the environment (wave -10)
  2. Layer Applications (system, platform, applications)
*/}}
{{- if not .Values.global.renderLayer }}
{{- $global := .Values.global }}
{{- $envName := $global.environmentName }}
{{- /* Collect all sourceRepos from layers for the environment project */ -}}
{{- $envSourceRepos := list $global.repository.url -}}
{{- range $layerName, $layerConfig := .Values.layers -}}
  {{- range ($layerConfig.sourceRepos | default list) -}}
    {{- $envSourceRepos = append $envSourceRepos . -}}
  {{- end -}}
{{- end -}}
{{- $envConfig := dict "sourceRepos" $envSourceRepos }}
---
{{- include "app-of-apps.appProject" (list $envName (printf "Environment: %s" $envName) $envConfig $global) }}
{{- range $layerName, $layerConfig := .Values.layers }}
{{- if ne $layerConfig.enabled false }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $layerName }}
  namespace: argocd
  {{- include "app-of-apps.annotations" (list $global.annotations $layerConfig.annotations) | nindent 2 }}
  {{- include "app-of-apps.finalizers" (list $layerConfig.finalizers $global.finalizers) | nindent 2 }}
spec:
  project: {{ $envName }}
  source:
    repoURL: {{ ($layerConfig.repository).url | default $global.repository.url }}
    targetRevision: {{ ($layerConfig.repository).targetRevision | default $global.repository.targetRevision }}
    path: kubernetes/app-of-apps
    helm:
      valueFiles:
        - values/{{ $envName }}.yaml
      parameters:
        - name: global.renderLayer
          value: {{ $layerName }}
  destination:
    server: {{ ($layerConfig.destination).server | default $global.destination.server }}
    namespace: argocd
  {{- include "app-of-apps.syncPolicy" (list
        (list $global.syncPolicy $layerConfig.syncPolicy)
        (list $global.additionalSyncOptions $layerConfig.additionalSyncOptions)
      ) | nindent 2 }}
  {{- include "app-of-apps.ignoreDifferences" (list
        (list $layerConfig.ignoreDifferences $global.ignoreDifferences)
        (list $global.additionalIgnoreDifferences $layerConfig.additionalIgnoreDifferences)
      ) | nindent 2 }}
{{- end }}
{{- end }}
{{- end }}
