{{/*
Layers - rendered when renderLayer is empty
Creates:
  1. AppProject for the environment
  2. Layer Applications (system, platform, applications)

Controlled by: layerDefaults + layers.<name>
*/}}
{{- if not .Values.renderLayer }}
{{- $envName := .Values.environment }}
{{- $layerDefaults := .Values.layerDefaults }}
{{- /* Collect unique sourceRepos from layers for the environment project */ -}}
{{- $repoSet := dict .Values.repository.url true -}}
{{- range $layerName, $layerConfig := .Values.layers -}}
  {{- range ($layerConfig.sourceRepos | default list) -}}
    {{- $repoSet = set $repoSet . true -}}
  {{- end -}}
{{- end -}}
{{- $envConfig := dict "sourceRepos" (keys $repoSet) }}
---
{{- include "app-of-apps.appProject" (list $envName (printf "Environment: %s" $envName) $envConfig .Values) }}
{{- range $layerName, $layerConfig := .Values.layers }}
{{- if ne $layerConfig.enabled false }}
{{- $prefixNames := $layerConfig.prefixNames | default $layerDefaults.prefixNames }}
{{- $effectiveLayerName := $layerName }}
{{- if $prefixNames }}
  {{- $effectiveLayerName = printf "%s-%s" $envName $layerName }}
{{- end }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $effectiveLayerName }}
  namespace: argocd
  {{- include "app-of-apps.annotations" (list $layerDefaults.annotations $layerConfig.annotations) | nindent 2 }}
  {{- include "app-of-apps.finalizers" (list $layerConfig.finalizers $layerDefaults.finalizers) | nindent 2 }}
spec:
  project: {{ $envName }}
  source:
    repoURL: {{ ($layerConfig.repository).url | default $.Values.repository.url }}
    targetRevision: {{ ($layerConfig.repository).targetRevision | default $.Values.repository.targetRevision }}
    path: kubernetes/app-of-apps
    helm:
      valueFiles:
        - values/{{ $envName }}.yaml
      parameters:
        - name: renderLayer
          value: {{ $layerName }}
  destination:
    server: {{ ($layerConfig.destination).server | default $.Values.destination.server }}
    namespace: argocd
  {{- include "app-of-apps.syncPolicy" (list
        (list $layerDefaults.syncPolicy $layerConfig.syncPolicy)
        (list $layerDefaults.additionalSyncOptions $layerConfig.additionalSyncOptions)
      ) | nindent 2 }}
  {{- include "app-of-apps.ignoreDifferences" (list
        (list $layerConfig.ignoreDifferences $layerDefaults.ignoreDifferences)
        (list $layerDefaults.additionalIgnoreDifferences $layerConfig.additionalIgnoreDifferences)
      ) | nindent 2 }}
{{- end }}
{{- end }}
{{- end }}
