{{/*
Layer resources - rendered when renderLayer is set
Creates:
  1. AppProject for the layer (wave -10)
  2. Child Applications (wave from their annotations)
*/}}
{{- if .Values.global.renderLayer }}
{{- $renderLayer := .Values.global.renderLayer }}
{{- $global := .Values.global }}
{{- range $layerName, $layerConfig := .Values.layers }}
{{- if eq $layerName $renderLayer }}
---
{{- include "app-of-apps.appProject" (list $layerName ($layerConfig.description | default $layerName) $layerConfig $global) }}
{{- range $layerConfig.apps }}
{{- if .enabled }}
---
{{- include "app-of-apps.application" (list $ . $layerName $layerConfig) }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
