{{/*
Parents - rendered when renderParent is empty
Creates:
  1. AppProject for the environment
  2. Parent Applications (system, platform, applications)

Controlled by: parentDefaults + parents.<name>
*/}}
{{- if not .Values.renderParent }}
{{- $envName := .Values.environment }}
{{- $parentDefaults := .Values.parentDefaults }}
{{- $prefixNames := $parentDefaults.prefixNames }}
{{- $parentsProjectName := "parents" }}
{{- if $prefixNames }}
  {{- $parentsProjectName = printf "%s-parents" $envName }}
{{- end }}
{{- /* Collect unique sourceRepos from parents for the environment project */ -}}
{{- $repoSet := dict .Values.repository.url true -}}
{{- range $parentName, $parentConfig := .Values.parents -}}
  {{- range ($parentConfig.sourceRepos | default list) -}}
    {{- $repoSet = set $repoSet . true -}}
  {{- end -}}
{{- end -}}
{{- $envConfig := dict "sourceRepos" (keys $repoSet) }}
---
{{ include "app-of-apps.appProject" (list $parentsProjectName (printf "Environment: %s" $envName) $envConfig .Values) }}
{{- range $parentName, $parentConfig := .Values.parents }}
{{- if ne $parentConfig.enabled false }}
---
{{ include "app-of-apps.parentApplication" (list $ $parentName $parentConfig) }}
{{- end }}
{{- end }}
{{- end }}
