{{/*
Parents - rendered when renderParent is empty
Creates:
  1. AppProject for the environment
  2. Parent Applications (system, platform, applications)

Controlled by: parentDefaults + parents.<name>
*/}}
{{- if not .Values.renderParent }}
{{- $envName := .Values.environment }}
{{- $parentDefaults := .Values.parentDefaults }}
{{- $prefixNames := $parentDefaults.prefixNames }}
{{- $parentsProjectName := "parents" }}
{{- if $prefixNames }}
  {{- $parentsProjectName = printf "%s-parents" $envName }}
{{- end }}
{{- /* Collect unique sourceRepos from parents for the environment project */ -}}
{{- $repoSet := dict .Values.repository.url true -}}
{{- range $parentName, $parentConfig := .Values.parents -}}
  {{- range ($parentConfig.sourceRepos | default list) -}}
    {{- $repoSet = set $repoSet . true -}}
  {{- end -}}
{{- end -}}
{{- $envConfig := dict "sourceRepos" (keys $repoSet) }}
---
{{- include "app-of-apps.appProject" (list $parentsProjectName (printf "Environment: %s" $envName) $envConfig .Values) }}
{{- range $parentName, $parentConfig := .Values.parents }}
{{- if ne $parentConfig.enabled false }}
{{- $prefixNames := $parentConfig.prefixNames | default $parentDefaults.prefixNames }}
{{- $effectiveParentName := $parentName }}
{{- if $prefixNames }}
  {{- $effectiveParentName = printf "%s-%s" $envName $parentName }}
{{- end }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $effectiveParentName }}
  namespace: argocd
  labels:
    environment: {{ $envName }}
  {{- include "app-of-apps.labels" (list $parentDefaults.labels $parentConfig.labels) | nindent 2 }}
  {{- include "app-of-apps.annotations" (list $parentDefaults.annotations $parentConfig.annotations) | nindent 2 }}
  {{- include "app-of-apps.finalizers" (list $parentConfig.finalizers $parentDefaults.finalizers) | nindent 2 }}
spec:
  project: {{ $parentsProjectName }}
  source:
    repoURL: {{ ($parentConfig.repository).url | default $.Values.repository.url }}
    targetRevision: {{ ($parentConfig.repository).targetRevision | default $.Values.repository.targetRevision }}
    path: kubernetes/app-of-apps
    helm:
      parameters:
        - name: renderParent
          value: {{ $parentName }}
  destination:
    server: {{ (($parentConfig.destination).server) | default (($parentDefaults.destination).server) | default $.Values.destination.server }}
    namespace: argocd
  {{- include "app-of-apps.syncPolicy" (list
        (list $parentDefaults.syncPolicy $parentConfig.syncPolicy)
        (list $parentDefaults.additionalSyncOptions $parentConfig.additionalSyncOptions)
      ) | nindent 2 }}
  {{- include "app-of-apps.ignoreDifferences" (list
        (list $parentConfig.ignoreDifferences $parentDefaults.ignoreDifferences)
        (list $parentDefaults.additionalIgnoreDifferences $parentConfig.additionalIgnoreDifferences)
      ) | nindent 2 }}
{{- end }}
{{- end }}
{{- end }}
