apiVersion: v1
kind: Service
metadata:
  name: transmission
  namespace: transmission
spec:
  type: NodePort
  selector:
    app: transmission
  ports:
    - port: 9091
      targetPort: 9091
      nodePort: 30091
      name: web
